
.titleP {
 
}
.icon {
 
}
.container{
  display: block;
  display: flex;
  align-items: center;
  background-color: antiquewhite;
}
.container image {
  
}
.container p {
  display: inline-block
  
}
.container h1 {

}
.content {
  
}
.titleP {

}
.Icon1 {
 
}